<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245355388581-4k4pd0v61g5ouccf7c7au2se9qso0p1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245355388581-4k4pd0v61g5ouccf7c7au2se9qso0p1u</string>
	<key>API_KEY</key>
	<string>AIzaSyDLeqjl6oyAHyE524HBeurM23SS1540KPc</string>
	<key>GCM_SENDER_ID</key>
	<string>245355388581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankFlutter</string>
	<key>PROJECT_ID</key>
	<string>bank-ee7fd</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-ee7fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245355388581:ios:f58b91cc07a17fa696374c</string>
</dict>
</plist>